{:kotoba.app/id "cloud.itonami.isic-1061", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiejc2z36woki46ly343gltjj7em5losggximnhehjbbsetu55bwca", :kotoba.app/embed-url "ipfs://bafkreiejc2z36woki46ly343gltjj7em5losggximnhehjbbsetu55bwca", :published {:archive "https://kotobase.net/ipfs/bafkreiejc2z36woki46ly343gltjj7em5losggximnhehjbbsetu55bwca", :size 72453, :put-status 201, :get-status 200, :at "2026-08-15T13:41:03.662Z"}}
